
<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic (~{::main})}">
	<main>
	 	<div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
        </div>
		<div class="row px-xl-5 pb-3">
			<div th:each="p: ${items}" class="col-lg-3 col-md-6 col-sm-12 pb-1" >
                <div  class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a th:href="@{|/product/detail/${p.id}|}">
							<img style="height: 270px; box-shadow: 3px 2px 5px;" class="img-fluid w-100" th:src="@{|/assets/images/${p.image}|}">
						</a>
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3"th:utext="${p.name}"></h6>
                        <div class="d-flex justify-content-center">
                            <h6>$[[${p.price}]]</h6>
                            
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <p th:replace="~{/product/_actions::item_id(${p.id})}"/>
                    </div>
                </div>
            </div>
		</div>
	</main>
</div>