<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic (~{::main})}">
<main>
	<div class="container-fluid "  >
		<div class="row">
		<div class="col-2">
		</div>
	
			<form action="/security/login" method="post" class="col-sm-8 col-sm-offset-2">
				<div class="panel panel-primary">
					 <div class="text-center mb-4 ">
					 	<h2 class="section-title "><span class="px-2">SHOPPING CART LOGIN</span></h2>
					 </div>
					<div class="panel-body">
							<div class="form-group">
								<div>Username:</div>
								<input name="username" class="form-control">
							</div>
							<div class="form-group">
								<div>Password:</div>
								<input name="password" type="password" class="form-control">
							</div>
							<div class="form-group">
								<div class="form-control ">
									<label class="checkbox-inline">
										<input type="checkbox" name=remember-me>Remember me?
									</label>
								</div>
							</div>
					</div>
					<div class="panel-footer text-right">
						<i class="pull-left text-danger" th:text="${message}"></i>
						<button class="btn btn-success">Login</button>
					</div>
				</div>
			</form>
		</div>
		</div>
	</div >
</main>
</div>